.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.topic-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
  width: 100%;
}

.topic-title {
  display: flex;
  width: 100%;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 0.5rem 1rem;
  color: #fff;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  object {
    width: 100%;
    height: 40%;
  }

  form, textarea {
    width: 100%;
  }
}
