* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Inter:wght@400;500;700&display=swap');

body {
    font-family: 'Inter', sans-serif!important;
}

.navbar .nav-links a {
    color: #fff !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem;
    height: 100%;
    align-items: center;
    transition: 0.3s;
}

.navbar .nav-links a:hover {
    color: rgb(3, 41, 166) !important;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select.form-select {
    width: 100%;
    outline: none;
    height: 45px;
    text-indent: 10px;
    margin-bottom: 25px !important;
    border-radius: 3px;
    border: 1px solid #000;
}

.comments-input form input[type=number]::-webkit-inner-spin-button,
.comments-input form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] { 
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

@media screen and (max-width: 768px) {
    input, select.form-select {
        height: 35px;
        font-size: 14px !important;
    }

    p {
        font-size: 14px !important;
    }
}

input {
    text-indent: 10px;
}