@import url('colors.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif!important;
    background-color: var(--darker-purple)!important;
    color: var(--white)!important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: var(--dark-purple-hover);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--dark-purple-hover);
}


::-webkit-scrollbar-thumb
{
	background-color: var(--dark-purple);
}

.navbar, .nav-links {
    background-color: var(--dark-purple)!important;
}

.navbar .nav-links a {
    color: var(--white) !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem;
    height: 100%;
    align-items: center;
    transition: 0.3s;
}

body > div.container > main > section.comments-input > form > div > div.ck.ck-editor__main > div > p, 
body > div.container > main > section.comments-input > form > div > div.ck.ck-editor__main > div > ul > li,
body > div.container > main > section.comments-input > form > div > div.ck.ck-editor__main > div > ol > li {
    color: var(--darker-gray)!important;
}

.navbar .nav-links a:hover {
    color: var(--dark-purple-hover) !important;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-input form input[type=number]::-webkit-inner-spin-button,
.comments-input form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] { 
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

@media screen and (max-width: 768px) {
    p, input, select.form-select, a {
        font-size: 14px !important;
    }

    input, select.form-select {
        height: 35px;
    }
}